.fighter-preview___root {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 250px;
}

.fighter-preview___right {
  grid-area: secondFighter;
  place-self: center;
}

.fighter-preview___left {
  grid-area: firstFighter;
  place-self: center;
}

.fighter-preview___name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___img {
  height: 380px;
  margin: 2rem;
}

.fighter-preview___stats {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 28px;
  font-family: 'Arial Black';
  font-weight: 500;
}

.fighter-preview___stats > img {
  height: 24px;
  width: auto;
}
