.preview-container___root {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'firstFighter versusBlock secondFighter';
  text-align: center;
  margin: 40px 200px;
  height: 65vh;
}

.preview-container___versus-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: versusBlock;
}

.preview-container___versus-img {
  width: 130px;
}

.preview-container___fight-btn {
  padding: 8px 35px;
  justify-self: right;
  text-align: center;
  background: #ba0303;
  margin: 40px 0;
  color: #f8f9f4;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
}

.preview-container___fight-btn.disabled {
  opacity: 0;
}
